params.regex = "'(S+)'"
params.pValCutoff = "1e-5"
params.lengthCutoff = "10"
params.percentCutoff = "20"
params.outputType = ""
params.blastProgram = "blastp"
params.blastVendor = "ncbi"
params.databaseFasta = "$baseDir/data/newdb.fasta"
params.dataFile = ""
params.adjustMatchLength = ""
params.blastFileDir = ""
params.fileExtension = ""
params.blastParamsFile = "$baseDir/data/blastParams"
params.saveAllBlastFiles = ""
params.saveGoodBlastFiles = ""
params.doNotParse = ""
params.doNotExitOnBlastFailure = ""
params.printSimSeqsFile = ""
params.seqFile = "$baseDir/data/asicProteome.fasta"
params.outputDir = "$launchDir/output"
params.blastParams = "$baseDir/data/blastParams"
process.container = 'veupathdb/blastsimilarity:latest'

docker {
    enabled = true
}
