params {
  pValCutoff = "1e-5"
  lengthCutoff = "1"
  percentCutoff = "1"
  outputType = "both"
  blastProgram = "blastp"
  databaseFasta = "$baseDir/data/proteindb.fasta"
  adjustMatchLength = "false"
  blastParamsFile = "$baseDir/data/blastParams"
  saveAllBlastFiles = "false"
  saveGoodBlastFiles = "false"
  doNotParse = "false"
  printSimSeqsFile = "false"
  seqFile = "$baseDir/data/prot.fasta"
  outputDir = "$launchDir/output"
  blastParams = "$baseDir/data/blastParams" 
  dataFile = "blastSimilarity.out"
  logFile = "blastSimilarity.log"
  databaseType = "protein"
}
process {
  container = 'veupathdb/blastsimilarity:latest'
}
docker {
    enabled = true
}
